<%- include('partials/header') -%>

<div class="d-flex justify-content-center">
  <%# load sidebar modals partial %>
  <%- include('partials/sidebar') -%>

  <%# main section of the page %>
  <main class="d-flex flex-column flex-shrink-1 col-md-5 col-8 px-3 ">
    <h1 class="text-center">Explore</h1>
    <form action="" id="searchForm" class="col-12 col-lg-auto mb-3 mb-lg-0" method="POST">
      <input type="hidden" name="title" value="<%= title %>" />
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="search" />
      <div class="my-2">
        <button type="sumbit" id="searchUsers" class="btnSub">Users</button>
        <button type="sumbit" id="searchPosts" class="btnSub">Takes</button>
      </div>
    </form>

    <% 
      //search results for users
      if(typeof searchUsers != 'undefined') {
        searchUsers.forEach(user=>{
    %>

    <%# container for user %>
    <div class="d-flex mb-3">
      <%# user profile image %>
      <div class="flex-column">
        <%# link to poster %>
        <a href="/profile/<%=user['_id']%>">
          <img src="<%= user['profileImage'] %>" alt="user profile" width="60" height="60" class="rounded-circle me-2">
        </a>
      </div>

      <%# user details %>
      <div class="flex-column">
        <div>
          <%# link to poster %>
          <a href="/profile/<%=user['_id']%>" class="text-reset text-decoration-none">
            <%# user name %>
            <span><strong><%= user['userName'] %></strong></span>
            <%# user handle %>
            <span>@<%= user['userHandle'] %></span>
          </a>
        </div>

        <%# link to profile - follow/unfollow button in future %>
        <a href="/profile/<%=user['_id']%>">
          <button class="btnSub">view</button>
        </a>

      </div>
    </div>

    <%
        });
      };

      if(typeof searchPosts != 'undefined') {
    %>
    <section class="d-flex flex-column align-items-center">
      <div class="row col-10">

        <%
          searchPosts.forEach(post=>{
        %>

        <%# container for each post %>
        <div class="d-flex mb-3">
          <div class="flex-column">
            <%# link to poster %>
            <a href="/profile/<%=post['user']%>">
              <%# user profile image %>
              <img src="<%=post['postUser']['profileImage'] %>" alt="user profile" width="60" height="60" class="rounded-circle me-2">
            </a>
          </div>

          <div class="flex-column w-100">
            <%# link to poster %>
            <a href="/profile/<%=post['user']%>" class="text-reset text-decoration-none">
              <%# user name %>
              <span><strong><%= post['postUser']['userName'] %></strong></span>
            </a>

            <%# link to poster %>
            <a href="/profile/<%=post['user']%>" class="text-reset text-decoration-none">
              <%# user handle %>
              <span class="mb-1">@<%= post['postUser']['userHandle'] %></span>
            </a>

            <%# link to post %>
            <a href="/post/<%=post['_id']%>" class="text-reset text-decoration-none">
              <%# post text %>
              <p id="postContent-<%= post['_id'] %>" class="text-wrap"><%= post['post'] %></p>
            </a>

            <div class="d-flex justify-content-center border-bottom mb-1 pb-1">

              <% if(post['image']){ %>

              <%# link to post %>
              <a href="/post/<%=post['_id']%>" class="text-reset text-decoration-none">
                <%# post image image %>
                <img src="<%= post['image']%>" alt="" width="200" height="100%">
              </a>

              <%
                };
              %>

            </div>

            <%# post icons %>
            <div class="d-flex justify-content-around align-items-center">

              <%# if owner of post %>
              <% if(post['user'].toString().trim() == currentUser['_id'].toString().trim()){ %>

              <%# edit trigger %>
              <button class="btn fas fa-edit editPostTrigger <%=post['_id']%>"></button>

              <%# delete button %>
              <form action="/post/delete/<%= post['_id'] %>?_method=delete" method="POST">
                <button type="sumbit" class="btn fa fa-trash py-0"></button>
              </form>

              <%
                };
              %>

              <%# comment trigger buttons and comment count %>
              <div class="d-flex">
                <button class="btn fa fa-comments px-1 py-0 commentTrigger <%=post['_id']%>"></button>
                <span><%= post['comments'].length %></span>
              </div>

              <%# like button and like count %>
              <div class="d-flex">
                <a href="/post/like/<%= post['_id'] %>">
                  <button type="sumbit" class="btn fa fa-fire px-1 py-0"></button>
                </a>
                <span><%= post['likes'].length %></span>
              </div>

            </div>
          </div>
        </div>

        <%
          });
        %>

      </div>

      <%
        };
      %>

    </section>
  </main>

  <div class="d-flex flex-column position-fixed end-0 overflow-auto col-md-3 col-sm-3 big mt-3 mx-1">
    <h6 class="text-center">Trending</h6>
    <div class="row col-10">

      <%
        for(i=0;i<trending.length;i++){
          if(i==5) { 
            break; 
          };   
      %>

      <%# container for each post %>
      <div class="d-flex mb-3">
        <%# user profile image %>
        <div class="flex-column">
          <%# link to poster %>
          <a href="/profile/<%=trending[i]['user']%>">
            <img src="<%=trending[i]['postUser']['profileImage'] %>" alt="user profile" width="60" height="60" class="rounded-circle me-2">
          </a>
        </div>

        <%# post text %>
        <div class="flex-column w-100">
          <%# link to poster %>
          <a href="/profile/<%=trending[i]['user']%>" class="text-reset text-decoration-none">
            <%# user name %>
            <span><strong><%= trending[i]['postUser']['userName'] %></strong></span>
          </a>

          <%# link to poster %>
          <a href="/profile/<%=trending[i]['user']%>" class="text-reset text-decoration-none">
            <%# user handle %>
            <span class="mb-1">@<%= trending[i]['postUser']['userHandle'] %></span>
          </a>

          <%# post text %>
          <a href="/post/<%=trending[i]['_id']%>" class="text-reset text-decoration-none">
            <p class="text-wrap"><%= trending[i]['post'] %></p>
          </a>

          <%# post image image %>
          <div class="d-flex justify-content-center border-bottom mb-1 pb-1">

            <% if(trending[i]['image']){ %>

            <%# link to post %>
            <a href="/post/<%=trending[i]['_id']%>" class="text-reset text-decoration-none">
              <%# post image image %>
              <img src="<%= trending[i]['image']%>" alt="" width="200" height="100%">
            </a>

            <%
              };
            %>

          </div>

          <%# post icons %>
          <div class="d-flex justify-content-around align-items-center">
            <%# comment trigger buttons and comment count %>
            <div class="d-flex">
              <button class="btn fa fa-comments px-1 py-0 commentTrigger <%=trending[i]['_id']%>"></button>
              <span><%= trending[i]['comments'].length %></span>
            </div>

            <%# like button and like count %>
            <div class="d-flex">
              <a href="/post/like/<%= trending[i]['_id'] %>">
                <button type="sumbit" class="btn fa fa-fire px-1 py-0"></button>
              </a>
              <span><%= trending[i]['likes'].length %></span>
            </div>

          </div>
        </div>
      </div>

      <%
        };
      %>
    </div>

  </div>

</div>

<%# load comment modal %>
<%- include('partials/modals/comment') -%>

<%# load comment modal %>
<%- include('partials/modals/post') -%>

<%# load basic site scripts %>
<%- include('partials/scripts') -%>

<%# load footer partial %>
<%- include('partials/footer') -%>