<%- include('partials/header') -%>

<div class="d-flex flex-nowrap">
  <%# load desktop sidebar modals partial %>
  <%- include('partials/sidebar') -%>

  <%# main section of the page %>
  <main class="d-flex flex-column col-sm-3 mx-3 ">
    <h1 class="text-center">Home</h1>

    <div class="d-flex justify-content-center border-bottom mb-4 pb-3">
      <form action="/post/create" enctype="multipart/form-data" method='POST'>
        <div class="d-flex">
          <%# user profile image %>
          <div class="flex-column">
            <img src="<%= currentUser['profileImage'] %>" alt="user profile" width="32" height="32" class="rounded-circle me-2">
          </div>
          <div class="flex-column">
            <textarea name="post" cols="50" rows="3" placeholder="What's your take?" class="post"></textarea>
            <input type="hidden" name="user" value="<%= currentUser['_id'] %>">
            <div class="d-flex justify-content-between align-items-center mx-2 mt-2">
              <%# post image %>
              <div>
                <label for="file-input" class="fa fa-file-image" width="35"></label>
                <input type="file" id="file-input" name="postImage" class="inputImage">
              </div>
              <div>
                <%# submission button %>
                <button type="sumbit" value="Upload" class="btnSub">Take</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <%if(posts.length){%>
    <section class="d-flex flex-column align-items-center">
      <div class="row col-10">
        <%posts.forEach(post=>{%>
        <%# container for each post %>
        <div class="d-flex mb-3">
          <%# user profile image %>
          <div class="flex-column">
            <img src="<%=post['postUser']['profileImage'] %>" alt="user profile" width="60" height="60" class="rounded-circle me-2">
          </div>
          <%# post text %>
          <div class="flex-column w-100">
            <%# user name %>
            <span><strong><%= post['postUser']['userName'] %></strong></span>
            <%# user handle %>
            <span class="mb-1">@<%= post['postUser']['userHandle'] %></span>
            <%# post text %>
            <p id="postContent" class="text-wrap"><%= post['post'] %></p>
            <%# post image image %>
            <div class="d-flex justify-content-center border-bottom mb-1 pb-1">
              <%if(post['image']){%>
              <img src="<%= post['image']%>" alt="" width="200" height="100%">
              <%}%>
              </div>
              <%# post icons %>
              <div class="d-flex justify-content-around align-items-center">
                <%# if owner of post, show edit and delete features  %>
                <%if(post['user'].toString().trim() == currentUser['_id'].toString().trim()){%>
                <button class="btn fas fa-edit editPostTrigger <%=post['_id']%>"></button>
                <form action="/post/deletePost?_method=delete" method="POST">
                  <input type="hidden" name="postId" value="<%= post['_id'] %>" />
                  <button type="sumbit" class="btn fa fa-trash py-0 %>"></button>
                </form>
                <%}%>

                <%# like and comment buttons %>
                <div>
                  <button class="btn fa fa-comments px-0 py-0 commentTrigger <%=post['_id']%>"></button>
                  <span><%= post['comments'].length %></span>
                </div>
                <div class="d-flex">
                  <form action="/post/like" method="POST">
                    <input type="hidden" name="postId" value="<%= post['_id'] %>" />
                    <input type="hidden" name="user" value="<%= currentUser['_id'] %>" />
                    <button type="sumbit" class="btn fa fa-fire px-1 py-0 %>"></button>
                  </form>
                  <span><%= post['likes'].length %></span>
                </div>
              </div>

            </div>
          </div>
          <%})%>
        </div>
      </div>
    </section>
    <%}%>
  </main>

</div>

<%# load comment modal %>
    <%- include('partials/modals/comment') -%>

    <%# load comment modal %>
    <%- include('partials/modals/post') -%>

    <%# load basic site scripts %>
    <%- include('partials/scripts') -%>

    <%# load footer partial %>
    <%- include('partials/footer') -%>