<%- include('partials/header') -%>

<div class="d-flex justify-content-center">
  <%# load sidebar modals partial %>
  <%- include('partials/sidebar') -%>

  <%# main section of the page %>
  <main class="d-flex flex-column col-sm-3 mx-3 ">
    <h1 class="text-center">Chat logs</h1>

    <%# send modal trigger %>
    <div class="d-flex justify-content-center">
      <button id="showMessage" class="btnSub">
        <i class="fa fa-envelope"></i>
      </button>
    </div>

    <% 
      //display messages between users
      messages.forEach(message=>{
        if(message['sender'].toString().trim() == currentUser['_id'].toString().trim()){ 
    %>

    <div class="d-flex">
      <p class="bg-primary text-white"><%= message['message']%></p>
    </div>

    <% }else{ %>

    <div class="d-flex flex-row-reverse mb-3">
      <p class="bg-secondary text-white"><%= message['message']%></p>
    </div>

    <% 
        }; 
      });
    %>

  </main>

  <%# message participants %>
  <div class="d-flex position-fixed end-0 sidebar big">
    <div class="d-flex flex-column text-center mt-3 mx-1">
      <h6>Participants</h6>

      <%# user signed in %>
      <div class="d-flex mb-3">
        <%# user profile image %>
        <div class="flex-column">
          <a href="/profile/<%=currentUser['_id']%>" class="text-reset text-decoration-none">
            <img src="<%= currentUser['profileImage'] %>" alt="user profile" width="60" height="60" class="rounded-circle me-2">
          </a>
        </div>

        <div class="flex-column">
          <%# user details %>
          <div>
            <a href="/profile/<%=currentUser['_id']%>" class="text-reset text-decoration-none">
              <%# user name %>
              <span><strong><%= currentUser['userName'] %></strong></span>
              <%# user handle %>
              <span>@<%= currentUser['userHandle'] %></span>
            </a>
          </div>

          <%# link to profile - follow/unfollow button in future %>
          <a href="/profile/<%=currentUser['_id'] %>">
            <button class="btnSub">view</button>
          </a>
        </div>
      </div>

      <%# other participant's profile %>
      <div class="d-flex mb-3">
        <%# user profile image %>
        <div class="flex-column">
          <a href="/profile/<%=otherUser['_id']%>" class="text-reset text-decoration-none">
            <img src="<%= otherUser['profileImage'] %>" alt="user profile" width="60" height="60" class="rounded-circle me-2">
          </a>
        </div>

        <div class="flex-column">
          <%# user details %>
          <div>
            <a href="/profile/<%=otherUser['_id']%>" class="text-reset text-decoration-none">
              <%# user name %>
              <span><strong><%= otherUser['userName'] %></strong></span>
              <%# user handle %>
              <span>@<%= otherUser['userHandle'] %></span>
            </a>
          </div>

          <%# link to profile - follow/unfollow button in future %>
          <a href="/profile/<%=otherUser['_id'] %>">
            <button class="btnSub">view</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <%# load message modal %>
  <%- include('partials/modals/message') -%>


  <%# load basic site scripts %>
  <%- include('partials/scripts') -%>

  <%# load footer partial %>
  <%- include('partials/footer') -%>