<%- include('partials/header') -%>

<div class="d-flex flex-nowrap">
  <%# load desktop sidebar modals partial %>
  <%- include('partials/sidebar') -%>

  <%# main section of the page %>
  <main class="d-flex flex-column col-sm-3 mx-3 ">
    <h1 class="text-center">Post</h1>
  </main>

  <div class="d-flex flex-column mt-3 mx-1">
    <h6 class="text-center">owner</h6>
  </div>
  
</div>

<%# load basic site scripts %>
<%- include('partials/modals/comment') -%>

<%# load basic site scripts %>
<%- include('partials/scripts') -%>

<%# load footer partial %>
<%- include('partials/footer') -%>